{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <title>Dominik DevBlog</title>
</head>
<body>
    {% for post in posts reversed %}
        <div class="post">
            <a style="text-decoration: none; color: black;" href="/post/{{post.id}}">
                <p class="post-title">{{post.title}}</p>
                <p class="post-date">{{post.created_at}}</p>
                <p class="post-body">{{post.body|truncatewords:20}}</p>
            </a>
        </div>
    {% endfor %}
</body>
</html>